.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bgi {
  background-image: url("https://liwsxrmbekpnxfafaxlm.supabase.co/storage/v1/object/sign/images/Images/main-osh.webp?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMvSW1hZ2VzL21haW4tb3NoLndlYnAiLCJpYXQiOjE3NDE4NTQ4NjQsImV4cCI6MTc3MzM5MDg2NH0.MS2ABgGtSX_ciU5wjp7jscYHxnyWSDo_4dSHDvRCkxY");
  width: auto;
  height: auto;
  background-size: cover;
  /* background-position: no; */
}

