
.menus{
    background-image: url( 'https://cdnn21.img.ria.ru/images/154954/20/1549542056_171:0:2902:2048_1920x0_80_0_0_59f61b4493e57c23f0c5638729d595eb.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
  } 
  